@font-face {
  font-family: "vazir";
  src: url("../font/Vazir.woff");
}
@font-face {
  font-family: "vazir-bold";
  src: url("../font/Vazir-Bold.woff");
}
* {
  font-family: "vazir";
}
* .text-white:hover {
  text-shadow: 0 0 10px #ff9900;
  transition: all 0.2s ease;
}

body {
  direction: rtl;
  background: linear-gradient(150deg, #f4d6aa, rgba(234, 234, 234, 0.3960784314));
  height: 300vh;
}

.navbar {
  background: linear-gradient(-150deg, #f0bb6d, rgba(255, 255, 255, 0.8705882353));
  max-width: 1200px;
}
.navbar .offcanvas {
  background: linear-gradient(-150deg, #f0bb6d, rgba(255, 255, 255, 0.8705882353));
}
@media screen and (min-width: 890px) {
  .navbar .offcanvas {
    background: transparent;
  }
}
.navbar .offcanvas .btn-close {
  position: absolute;
  left: 35px;
  font-size: 19px;
}
.navbar .offcanvas .dropdown-menu {
  background: linear-gradient(-180deg, #f0bb6d, rgba(255, 255, 255, 0.4117647059));
  border: none;
  outline: none;
}
.navbar .offcanvas .dropdown-menu .dropdown-item {
  color: #ffffff;
  transition: all 0.3s ease;
}
.navbar .offcanvas .dropdown-menu .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.394);
  color: #000;
}
.navbar .formSearch {
  direction: ltr;
  color: #fff;
}
.navbar .formSearch .form-control {
  direction: rtl;
  border: none;
  outline: none;
}
.navbar .formSearch .form-control:focus, .navbar .formSearch .form-control:hover {
  box-shadow: 0 0 10px #ffa31a;
}
.navbar .formSearch button {
  background-color: #ffc56e;
  color: white;
}
.navbar .formSearch button:hover {
  box-shadow: -5px 0 10px #f0bb6d;
}

.header {
  margin-top: 50px;
}
.header .row {
  height: auto;
  flex-direction: row-reverse;
}
.header .boxImg {
  height: 160px;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .header .boxImg:nth-child(1) {
    width: 60%;
  }
}
@media screen and (min-width: 800px) {
  .header .boxImg:nth-child(2) {
    width: 40%;
  }
}
.header .boxImg img {
  object-fit: cover;
}

.menu {
  width: 100%;
  max-width: 700px;
  border: 2px solid rgb(255, 255, 255);
}
.menu .Title p {
  font-family: "vazir-bold";
}
.menu .content-menu {
  margin-top: 35px;
  background-color: #211a1a;
}
.menu .category {
  margin-top: 30px;
}
.menu .category .text-RED {
  color: red;
}
.menu .category a {
  text-decoration: none;
}
.menu .LoadingContent {
  color: white;
}
.menu .content-menu .col-12 {
  animation: ssss 1s ease-in;
}
@keyframes ssss {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0px);
  }
}
.menu .owl-carousel {
  background-color: #211a1a;
}
.menu .owl-carousel .card-header-custom {
  border: none;
}
.menu .owl-carousel .card-header-custom p {
  padding-top: 25px !important;
  border-bottom: 2px solid #f13712;
  display: inline;
  font-size: 17px;
  font-weight: bold;
  padding: 3px;
}
.menu .owl-carousel .panel-custom {
  border-bottom: 0 !important;
  margin-bottom: 0;
  box-shadow: none;
  border: none;
}
.menu .owl-carousel .panel-body-custom {
  padding: 0;
  box-shadow: none;
  border: none;
}
.menu .owl-carousel .slider .card {
  border: 0 !important;
}
.menu .owl-carousel .slider .card-body {
  padding: 10px;
}
.menu .owl-carousel .slider .item {
  border: none;
  box-shadow: none;
}
.menu .owl-carousel .slider1 .item:hover {
  box-shadow: none;
}
.menu .owl-carousel .slider2 .item:hover {
  box-shadow: none;
}
.menu .owl-carousel .panel-footer-custom {
  border-top: 0px;
  padding: 0px 5px !important;
  text-align: center;
  background: transparent !important;
}
.menu .owl-carousel .panel-footer-custom h4 {
  font-size: 16px;
  text-align: center;
}
.menu .owl-carousel .panel-footer-custom i {
  font-size: 18px;
  text-align: center;
}
.menu .owl-carousel .owl-dots {
  display: none;
}
.menu .owl-carousel .owl-stage-outer {
  width: 99%;
}
.menu .owl-carousel .owl-nav .owl-next, .menu .owl-carousel .owl-nav .owl-prev {
  position: relative;
  top: -10px;
  left: 0px;
  background: hsla(0, 0%, 100%, 0.8);
  border-radius: 50%;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .owl-carousel .owl-theme .owl-nav [class*=owl-] {
  color: #000;
  font-size: 35px;
  background: rgba(158, 172, 181, 0.95);
  border-radius: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-right: 20px;
}
.menu .owl-carousel .owl-nav .owl-prev:before {
  font-family: FontAwesome;
  position: relative;
  top: 30px;
  color: #000000;
  padding: 3px;
}
.menu .owl-carousel .owl-nav .owl-next:before {
  font-family: FontAwesome;
  position: relative;
  top: 30px;
  color: #000000;
  padding: 3px;
}
.menu .owl-carousel .owl-nav button {
  background: #fff !important;
  outline: none !important;
  border: 0 !important;
  opacity: 0.8 !important;
}
.menu .owl-carousel .owl-nav button span {
  color: black !important;
  font-size: 25px;
}
.menu .owl-carousel .owl-nav button:hover {
  color: black !important;
}
.menu .owl-carousel .owl-nav {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 0px 0px;
}

/*# sourceMappingURL=style.css.map */
