// ------------------------ bg color :
$bgcolor:#ffa31a;
$bgcolor2:linear-gradient(150deg,#f4d6aa,#eaeaea65);

// ------------------------  color :
$white:#fff;


// ------------------------  text shadow :
$whiteShadow : 0 0 10px #ff9900;